.textColor {
    color: #ff2591;
}

.navColor {
    background-color: #00D2BE;
}

.tempImg {
    height: 100%;
    width: 25%;
}

.spacingNav {
    margin-right: 10%;
}

.designs {
    position: absolute;
    top: 4.2%;
    left: 50%;
    font-size: 55px;
    transform: translate(-50%, -50%);
}

.pageContainer {
    margin-top: 20px;
}

.priceContainer {
    min-height: 135px;
    height: 20%;
    border-bottom: 1px solid lightgrey;
}

.subTotal, .EstimatedShipping, .EstimatedTax {
    height: 21%;
}

.paySection {
    padding-left: 0;
}

.infoHeader {
    border-bottom: 1px solid lightgrey;
}

.itemsContainer {
    height: 100vh;
    border-top: 0;
    padding-left: 0 !important;
}

.paySection {
    height: 100vh;
    border: solid black 1px;

}

.itemDetails {
    padding-left: 0 !important;
}

.itemDetails>p:nth-child(3) {
    margin-left: 20px;
}

.gutter {
    width: 100%;
    margin: auto;
}

.checkoutBtn {
    margin-top: 30px;
}

.orderTotalBtn {
    margin-top: 20px;
}

.orderSummary {
    position: relative;
    left: 10px;
    font-size: 25px;
    color: #ff2591;
}

.checkoutBtn {
    background-color: #00D2BE;
}

@media only screen and (max-width: 850px) {
    .subTotalText, .EstimatedShippingText, .EstimatedTaxText, .orderTotal, .price {
        font-size: 12px;
    }

    .header {
        font-size: 12px;
    }

    .orderSummary {
        font-size: 20px;
    }
}

.listItemContainer {
    border-width: 2px 0px 2px 0px;
    border: solid black
}

.itemImageContainer {
    height: 100px;
    display: inline-block;
}

.itemImage {
    height: 100px;
    width: 100px;
}

.itemDetails, .itemDetails>p {
    display: inline-block;
    vertical-align: top;
}

.itemDetails>p:nth-child(2) {
    margin-left: 30%;
}

.itemImageContainer>p:nth-child(1) {
    left: 90px;
    position: relative;
    color: red;
}


/*.itemDetails>p {*/
    /*position: relative;*/
    /*top: -85px;*/
    /*vertical-align: top;*/
    /*margin-left: 30px;*/
/*}*/

/*.itemDetails>p:nth-of-type(4) {*/
    /*left: 150px;*/
/*}*/



@media only screen and (max-width: 732px) {
    .items {
        width: 40% !important;
    }
}

@media only screen and (max-width: 670px) {
    .designs {
        font-size: 35px;
    }

    .header, .infoHeader, .items {
        font-size: 10px;
        padding: 0 !important;
    }

    .itemsContainer, .paySection {
        width: 50% !important;
    }

    .subTotalText, .EstimatedShippingText, .EstimatedTaxText {
        width: 74% !important;
    }

    .total {
        position: relative;
        left: 15px !important;
    }
}
