.textColor {
    color: #ff2591;
}

.navColor {
    background-color: #00D2BE;
}

.tempImg {
    height: 100%;
    width: 25%;
}

.spacingNav {
    margin-right: 10%;
}

.designs {
    position: absolute;
    top: 4.2%;
    left: 50%;
    font-size: 55px;
    transform: translate(-50%, -50%);
}

.pageContainer {
    margin-top: 20px;
}

.priceContainer {
    min-height: 135px;
    height: 20%;
    border-bottom: 1px solid lightgrey;
}

.subTotal, .EstimatedShipping, .EstimatedTax {
    height: 21%;
}

.imgAndDesc, .paySection, .itemsContainer, .itemDetails, .itemImage, .itemImageContainer {
    padding-left: 0 !important;
}

.pricePosition {
    transform: translate(12%);
}

.totalCard {
    position: relative;
    left: 12px !important;
}

.infoHeader {
    border-bottom: 1px solid lightgrey;
}

.full, .detailsContainer, .descriptionContainer {
    height: 100%;
}

/*.detailsContainer {*/
    /*height: 100%;*/
/*}*/

/*.descriptionContainer {*/
    /*height: 100%;*/
/*}*/

.itemsContainer {
    height: 100vh;
    border-top: 0;

}

.paySection {
    height: 100vh;
    border: solid black 1px;

}

.itemDetails>p:nth-child(3) {
    margin-left: 20px;
}

.gutter {
    width: 100%;
    margin: auto;
}

/*.checkoutBtn {*/
    /*margin-top: 30px;*/
/*}*/

.orderTotalBtn {
    margin-top: 20px;
}

.orderSummary {
    position: relative;
    left: 10px;
    font-size: 25px;
    color: #ff2591;
}

.checkoutBtn {
    /*background-color: #00D2BE;*/
    margin-top: 30px;
    line-height: 0 !important;
    color: black !important;
    font-weight: 800 !important;
    background-color: white !important;
    border: 2px solid black !important;
}

.checkoutBtn:hover {
    background-color: #00D2BE !important;
    border: none !important;
    color: white !important;
}

#imageContainer {
    min-height: 80% !important;
    background-color: rgb(247, 247, 247);

}

#imageBackground {
    background-image:
        linear-gradient(rgba(34, 0, 34, 0.589),rgba(92, 0, 92, 0.767)),
        url('../search/images/headernew.jpeg');
    height: 100%;
    width: 100%;
}

#book-item img {
    position: relative;
    left: 15%;
    top: 5%;
    height: 90%;
    width: 70%;
    border: 1px solid black;
    /* box-shadow: 0px 5px 30px 10px rgba(230, 196, 0, 0.658); */
    box-shadow: 0px 5px 30px 10px rgba(255, 255, 255, 0.836);
}

@media only screen and (max-width: 850px) {
    .subTotalText, .EstimatedShippingText, .EstimatedTaxText, .orderTotal, .price {
        font-size: 12px;
    }

    .header {
        font-size: 12px;
    }

    .orderSummary {
        font-size: 20px;
    }
}

.filterContainer {
    position: relative;
    left: 9px !important;
    top: 9px;
}

.listItemContainer {

    border-width: 2px 0px 2px 0px;
    border: solid black;
    padding-left: 0 !important;
}

.itemImageContainer {
    height: 100px;
    display: inline-block;
}

.itemImage {
    height: 100px;
    width: 100px;
}

.itemDetails, .itemDetails>p {
    display: inline-block;
    vertical-align: top;
}

.itemDetails>p:nth-child(2) {
    margin-left: 30%;
}

.itemImageContainer>p:nth-child(1) {
    left: 90px;
    position: relative;
    color: red;
}

.searchContainer:hover {
    cursor: pointer;
}

.filterContainer {
    margin-left: 10px;
    height: 1000px;
    padding-left: 0;
    border: 1px solid blue;
}

select {
    display: block !important;
}

.infoContainer {
    min-height: 75%;
    border: 2px solid black;
}

.shippingContainer {

}

.error {
    min-height: 20px;
}

.countryContainer {
    display: block;
}

.cardContainer {
    min-height: 75%;
    border: 1px solid lightgrey;
}

.containerHeader {
    vertical-align: center;
    height: 50px;
    padding: 0 .75rem;
    font-size: 22px;
    border-bottom: 1px solid lightgrey;
}

.cardSpan {
    vertical-align: -17%;
}


.errCode {
    margin-bottom: 5px;
    margin-top: 5px;
}

.linkDiv {
    padding: 10px 0 10px 0 !important;
}

.border {
    border-top: 1px solid black;
}

.linkDiv:hover {
    cursor: pointer;
}

.buyingContainer {
    border: 1px solid lightgrey;
}

.pageContainer {
    height: 100vh;
}

.carouselContainer, .buyingContainer {
    min-height: 80% !important;
}

.quantityContainer, .rowContainer {
    padding: 0 !important;
    display: block;
}

.reviewContainer {
    height: auto;
}

@media only screen and (max-width: 4000px){
    .listingContainer {
        width: 83.333333333333%;
    }
}

@media only screen and (max-width: 1093px) {
    .filterContainer {
        width: 100% !important;
        height: 100px;
    }
    .listingContainer {
        width: 100%;
    }
}

.sidenav li > a {
    background-color: white;
}

.sidenav li > a:hover {
    background-color: #00D2BE !important;
}

.subTotalText, .price, .EstimatedShippingText, .EstimatedTaxText, .orderTotal {
    font-weight: 800;
}

.reviewContainer {
    min-height: 200px !important;
}

.starRating {
    min-height: 50px !important;
}

.comments {
    min-height: 150px !important;
    min-width: 200px;
    max-height: 160px;
    max-width: 360px;
}

.cartText {
    position: relative;
    top: 8px;
}

.itemInCartContainer {
    position: relative;
    top: 24px;
}

.noReview {
    display: none;
}

.contentContainer {
    vertical-align: center;
}

.ratingText {
    position: relative;
    top: 13px;
}


@media only screen and (max-width: 732px) {
    .items {
        width: 40% !important;
    }

    .pricePosition {
        transform: translate(-42%);
    }

    .checkoutBtn, .ratingText {
        font-size: 8px !important;
    }


}

@media only screen and (max-width: 670px) {
    .designs {
        font-size: 33px;
    }

    .header, .infoHeader, .items {
        font-size: 10px;
        padding: 0 !important;
    }

    .itemsContainer, .paySection {
        width: 50% !important;
    }

    .subTotalText, .EstimatedShippingText, .EstimatedTaxText {
        width: 74% !important;
    }

    .total {
        position: relative;
        left: 15px !important;
    }

    .totalCard {
        position: relative;
        font-size: 10px;
        left: -2px !important;

    }

    .quantity {
        font-size: 10px;
    }

    .pricePosition {
        font-size: 10px;
    }
}

@media only screen and (max-width: 785px) {
    .itemImage {

    }

    .full {
        width: 50%;
    }
}

@media only screen and (max-width: 870px) {
    .imgAndDesc {
        color: white;
    }
}